name: Unit Tests

on:
  pull_request:
  push:

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install requirements
        run: python -m pip install -r requirements/local.txt
      - name: Lint
        run: pre-commit run --all-files
      - name: Unit tests
        run: python -m tests
