name: Unit Tests

on:
  pull_request:
  push:

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements/local.txt

      - name: secure_logger Unit tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          cd ./secure_logger/tests/
          python -m tests

      - name: setup.py tests
        run: |
          python -m setup_test
